.home {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow: hidden;
}

.home__content {
    width: 100%;
    height: 340px;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home__description {
    color: rgba(87, 87, 87, 0.466);
    font-size: 15px;
    font-weight: 600;
}

.home__title {
    width: 320px;
    font-size: 35px;
    font-weight: 800;
}

.home__button {
    width: 270px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    border: 3px solid black;
    font-weight: 600;
    transition: ease-in-out 0.3s;
}

.home__button:hover {
    background-color: white;
    color: black;
}

.home__image {
    width: 400px;
    height: 250px;
    background-image: url(/img/ladera-verde-residential-complex-image.png);
    background-position: center;
    background-size: cover;
}

.home__zone-container {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE y Edge */
}

.home__zone-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.home__zones-section {
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.home__zones-title {
    font-size: 23px;
    font-weight: 700;
    margin-left: 10px;
}

.home__zones {
    width: 2800px;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.home__zones::-webkit-scrollbar {
    display: none;
}

.home__zones-navigation {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    gap: 15px;
}

.home__zones-button {
    background-color: transparent;
    border: none;
}

.home__zones-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

@media (min-width: 375px) {
    .home__content {
        height: 360px;
        padding: 0px 15px;
    }

    .home__description {
        font-size: 16px;
    }

    .home__description br {
        display: none;
    }

    .home__title {
        font-size: 37px;
    }

    .home__image {
        width: 100%;
        height: 250px;
    }

    .home__button {
        font-size: 14px;
    }

    .home__zones-title {
        font-size: 26px;
        margin-left: 20px;
    }

    .home__zones-section {
        height: 690px;
        gap: 10px;
    }

    .home__zones {
        width: 3400px;
        min-height: 550px;
    }

    .home__zones-navigation {
        height: 40px;
        gap: 50px;
        padding: 0px 10px;
    }

    .home__zones-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: ease-in-out 0.3s;
    }
}

@media (min-width: 768px) {
    .home__content {
        height: 270px;
    }

    .home__description {
        font-size: 18px;
    }

    .home__title {
        width: 700px;
        font-size: 55px;
    }

    .home__button {
        width: 330px;
        height: 55px;
        font-size: 15px;
    }

    .home__image {
        height: 400px;
        background-image: url(/img/ladera-verde-residential-complex-big-image.png);
    }

    .home__zones-section {
        height: 620px;
        gap: 10px;
    }

    .home__zones {
        width: 2900px;
        min-height: 500px;
    }

    .home__zones::-webkit-scrollbar {
        display: none;
    }

    .home__zones-title {
        font-size: 30px;
        margin-left: 10px;
    }
}

@media (min-width: 1024px) {
    .home__content {
        height: 300px;
    }

    .home__title {
        width: 1000px;
        font-size: 65px;
    }

    .home__image {
        height: 450px;
    }

    .home__zones-section {
        height: 670px;
        gap: 15px;
    }

    .home__zones {
        width: 3000px;
        min-height: 500px;
    }

    .home__zones::-webkit-scrollbar {
        display: none;
    }

    .home__zones-title {
        font-size: 27px;
        margin-left: 20px;
    }
}

@media (min-width: 1440px) {
    .home__content {
        height: 350px;
    }

    .home__image {
        height: 500px;
    }

    .home__description {
        margin-bottom: -25px;
    }

    .home__button {
        margin-bottom: -30px;
    }

    .home__zones-title {
        font-size: 33px;
    }
}

@media (min-width: 1790px) {
    .home__image {
        height: 750px;
    }
}