.not-found{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found__tittle{
    font-size: 35px;
}

.not-found__back{
    margin-top: 20px;
    color: #1ac79c;
    font-weight: 600;
    text-decoration: none;
}